@font-face {
	font-family: "Karla400";
	font-weight: 400;
	font-display: swap;
	src: url(/src/assets/fonts/Karla-Regular.woff);
}

@font-face {
	font-family: "Karla700";
	font-weight: 700;
	font-display: swap;
	src: url(/src/assets/fonts/Karla-Bold.woff);
}
