// $Cyan: #2ab2af;
$Cyan: #197371;
// ^ Replacement
// $Bright-Yellow: #c0df34;
$Bright-Yellow: #5e6e16;
// ^ Replacement
$Light-Gray: #e5eff5;
$Grayish-Blue: #98a6bd;
// $Lighter-Cyan: #4abebd;
$Lighter-Cyan: #205857;
// ^ Replacement

$DefaultFontSize: 1rem;
$PrimaryFont: "Karla400", sans-serif;
$PrimaryFontBold: "Karla700", sans-serif;
